---
import fetchApi from "../../lib/strapi";
import type Posts from "../../interfaces/Posts";
import type { Post } from "../../interfaces/Posts";
import { blogIndexPageQuery, postsQuery } from "../../lib/queries";
import Layout from "../../layouts/Layout.astro";
import PageHero from "../../components/PageHero.astro";
import Container from "../../components/Container.astro";
import type { BlogIndexPage } from "../../interfaces/Pages";
import logoImage from "../../images/logo.svg";

export async function getStaticPaths() {
  const posts = await fetchApi<Posts>({
    endpoint: "posts",
    query: postsQuery,
  });

  const blog = await fetchApi<BlogIndexPage>({
    endpoint: "blog",
    query: blogIndexPageQuery,
  });

  return posts.data.map((post: Post) => ({
    params: {
      slug: post.attributes.slug,
    },
    props: {
      ...post.attributes,
      likes: post.attributes.likes || 0,
      image: post.attributes.image?.data?.attributes?.url || logoImage,
      hero: blog.data.attributes.hero,
      categories:
        post.attributes.categories?.data
          ?.map((c) => c?.attributes?.name)
          .join(" ") || "",
    },
  }));
}

const { title, image, content, hero } = Astro.props;
---

<Layout title={title}>
  <!-- @ts-ignore -->
  <PageHero {...hero} />
  <Container classes="mt-16 md:mt-24 lg:mt-32">
    <div class="w-full flex justify-center mb-16">
      <img src={image} alt="image" />
    </div>
    <h2
      class="text-center text-gray-900 text-2xl md:3xl lg:text-4xl font-extrabold font-inter leading-10 mb-8"
    >
      {title}
    </h2>

    <div set:html={content} class="font-inter px-4" />
  </Container>
</Layout>
