---
import fetchApi from "../../lib/strapi";
import type Posts from "../../interfaces/Posts";
import type { Post } from "../../interfaces/Posts";
import { postsQuery } from "../../lib/queries";
import Layout from "../../layouts/Layout.astro";
import BlogHero from "../../components/BlogHero.astro";
import Container from "../../components/Container.astro";

export async function getStaticPaths() {
  const posts = await fetchApi<Posts>({
    endpoint: "posts",
    query: postsQuery,
  });

  return posts.data.map((post: Post) => ({
    params: {
      slug: post.attributes.slug,
    },
    props: {
      ...post.attributes,
      likes: post.attributes.likes || 0,
      image: post.attributes.image?.data?.attributes?.url || "",
      event: post.attributes.event?.data?.attributes?.title || "",
      categories:
        post.attributes.categories?.data
          ?.map((c) => c?.attributes?.name)
          .join(" ") || "",
    },
  }));
}

const { title, image, content } = Astro.props;
---

<Layout title={title}>
  <BlogHero
    heading="Trinity Life Ministry Blog"
    content="Trinity is deeply committed to the men we serve, their families and the community. We hold routine outings and fundraisers along with charitable giving events."
  />
  <Container classes="mt-16 md:mt-24 lg:mt-32">
    <div class="w-full flex justify-center mb-16">
      <img src={image} alt="image" />
    </div>
    <h2
      class="text-center text-gray-900 text-2xl md:3xl lg:text-4xl font-extrabold font-poppins leading-10 mb-8"
    >
      {title}
    </h2>

    <div set:html={content} class="font-poppins px-4" />
  </Container>
</Layout>
