---
import fetchApi from "../../lib/strapi";
import type Posts from "../../interfaces/Posts";
import type { Post } from "../../interfaces/Posts";
import { postsQuery } from "../../lib/queries";

export async function getStaticPaths() {
  const posts = await fetchApi<Posts>({
    endpoint: "posts",
    query: postsQuery,
  });

  return posts.data.map((post: Post) => ({
    params: {
      slug: post.attributes.slug,
    },
    props: {
      ...post.attributes,
      likes: post.attributes.likes || 0,
      image: post.attributes.image?.data?.attributes?.url || "",
      event: post.attributes.event?.data?.attributes?.title || "",
      categories:
        post.attributes.categories?.data
          ?.map((c) => c?.attributes?.name)
          .join(" ") || "",
    },
  }));
}

const { title, image, content } = Astro.props;
---

<article>
  <h1>{title}</h1>

  <img src={image} alt="image" />

  <div set:html={content} />
</article>
