---
import BlogPostsGrid from "../../components/BlogPostsGrid";
import CallToAction from "../../components/CallToAction.astro";
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
import NewsletterSignup from "../../components/NewsletterSignup.astro";
import PageHero from "../../components/PageHero.astro";
import SocialShare from "../../components/SocialShare.astro";
import fetchApi from "../../lib/strapi";
import type { BlogIndexPage } from "../../interfaces/Pages";
import { blogIndexPageQuery } from "../../lib/queries";

const blog = await fetchApi<BlogIndexPage>({
  endpoint: "blog",
  query: blogIndexPageQuery,
});
---

<Layout title="Blog">
  <main class="page-blog">
    <!-- @ts-ignore -->
    <PageHero {...blog.data.attributes.hero} />

    <!-- posts previews -->
    <Container isSection classes="mt-10">
      <BlogPostsGrid client:only />
    </Container>

    <!-- newsletter signup cta -->
    <Container isSection>
      <NewsletterSignup />
    </Container>

    <!-- social embed -->
    <Container isSection>
      <SocialShare />
    </Container>

    <!-- cta -->
    <CallToAction />
  </main>
</Layout>
