---
import Layout from "../layouts/Layout.astro";

// const page = await fetchApi<HomePage>({
//   endpoint: "home-page",
//   query: homepageQuery,
// });

// const {
//   hero,
//   linkCards: { linkCard: linkCards },
//   // faqs,
//   callout,
//   // cta,
// } = page.data.attributes;
---

<Layout title="Trinity Life Ministry">
  <main class="page-contact">contact us!!</main>
</Layout>
