---
import Container from "../components/Container.astro";
import HorizontalHeadingAndText from "../components/HorizontalHeadingAndText.astro";
import KindfulForm from "../components/KindfulForm.astro";
import Layout from "../layouts/Layout.astro";
import PageHeadingRouter from "../components/PageHeadingRouter.astro";
import PageHero from "../components/PageHero.astro";
import VolunteerForm from "../components/VolunteerForm";
import fetchApi from "../lib/strapi";
import type { DonatePage } from "../interfaces/Pages";
import { donatePageQuery } from "../lib/queries";

const page = await fetchApi<DonatePage>({
  endpoint: "donation-page",
  query: donatePageQuery,
});
---

<Layout title="Donate">
  <main class="page-donate">
    <!-- hero -->

    <Container classes="pt-16 lg:pt-24">
      <HorizontalHeadingAndText
        heading="The Spirit of Giving: Ways to Give"
        classes="-mb-16 lg:mb-0 pb-0"
      >
        As a dedicated nonprofit driven by Christian principles, we have
        consistently centered our efforts on faith and Christ-centered values.
      </HorizontalHeadingAndText>
    </Container>

    <Container isSection>
      <div class="flex mt-16">
        <!-- spirit blurb -->
        <div
          class="lg:w-2/3 mb-4 lg:mb-0 text-darkBlue text-4xl font-extrabold font-inter leading-10"
        >
        </div>
        <div
          class="lg:w-1/2 text-gray-500 text-xl font-normal font-inter leading-7 mb-8"
        >
        </div>
      </div>

      <div class="flex items-start">
        <!-- sidebar routes -->
        <div
          class="hidden sticky top-28 lg:block pb-5 h-[calc(100vh-500px)] lg:w-1/4 lg:mb-12 page-router"
        >
          <PageHeadingRouter
            headingId="kindful-form"
            heading="Donate Funds"
            borderColor="green"
          >
            Your monetary contributions always go to a good cause
          </PageHeadingRouter>

          <PageHeadingRouter
            headingId="kindful-form"
            heading="Donate Goods"
            borderColor="teal"
          >
            Lost, then Found is our non-profit thrift store
          </PageHeadingRouter>

          <PageHeadingRouter
            headingId="volunteer-form"
            heading="Donate Time"
            borderColor="darkBlue"
          >
            Volunteering opportunities with Trinity Life Ministry
          </PageHeadingRouter>
        </div>

        <div
          class="flex flex-wrap w-full lg:w-3/4 p-4 lg:p-8 lg:pt-0 page-right"
        >
          <!-- forms -->
          <KindfulForm />

          <!-- content -->
          {
            page.data?.attributes?.content && (
              <div
                class="content lg:w-11/12 lg:ml-auto space-y-10 pt-6"
                set:html={page.data.attributes.content}
              />
            )
          }

          <VolunteerForm client:only />
        </div>
      </div>
    </Container>
  </main>
</Layout>
