---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import LinkCards from "../components/LinkCards.astro";
import Callout from "../components/Callout.astro";

const queries = [
  "populate[hero][populate]=*",
  "populate[linkCards][populate][linkCard][populate]=*",
  "populate[faqs][populate]=*",
  "populate[callout][populate][image][populate]=*",
  "populate[cta][populate]=*",
].join("&");

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: queries,
});

const hasHero = (page: HomePage) => page.data.attributes?.hero;
const hasLinkCards = (page: HomePage) =>
  page.data.attributes?.linkCards.linkCard.length;

const {
  hero,
  linkCards: { linkCard: linkCards },
  // faqs,
  callout,
  // cta,
} = page.data.attributes;

console.log(hero);
---

<Layout title="Trinity Life Ministry">
  <main class="container">
    <!-- hero -->
    {hasHero(page) && <Hero {...hero} />}

    <!-- link cards -->
    <div
      class="flex flex-row justify-center items-center gap-8 sm:gap-16 md:gap-24 lg:gap-32"
    >
      <h3 class="text-darkBlue text-2xl sm:text-4xl font-extrabold">
        Changing Lives, New Beginnings
      </h3>
      <div class="w-96 text-dark text-xl font-normal leading-7">
        As a dedicated nonprofit driven by Christian principles, we have
        consistently centered our efforts on faith and Christ-centered values.
      </div>
    </div>

    {hasLinkCards(page) && <LinkCards linkCards={linkCards} />}

    <!-- callout -->
    <Callout {...callout} />

    <!-- faqs -->
    <!-- events & posts feature -->
    <!-- social embed -->
    <!-- cta -->
    <!-- footer -->
  </main>
</Layout>
