---
import Carousel from "../components/Carousel";
import Callout from "../components/Callout.astro";
import Container from "../components/Container.astro";
import HorizontalHeadingAndContent from "../components/HorizontalHeadingAndText.astro";
import Layout from "../layouts/Layout.astro";
import LinkCards from "../components/LinkCards.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import { homepageQuery, postsQuery, queryWithLimit } from "../lib/queries";
import FAQs from "../components/FAQs.astro";
import SocialShare from "../components/SocialShare.astro";
import BlogCards from "../components/BlogCards.astro";
import CallToAction from "../components/CallToAction.astro";
import type Posts from "../interfaces/Posts";

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: homepageQuery,
});

const posts = await fetchApi<Posts>({
  endpoint: "posts",
  query: queryWithLimit(postsQuery, 3),
});

const hasCarousel = (page: HomePage) => page.data.attributes?.carousel;
const hasLinkCards = (page: HomePage) =>
  page.data.attributes?.linkCards.linkCard.length;

const {
  carousel,
  linkCards: { linkCard: linkCards },
  faqs,
  callout,
  // cta,
} = page.data.attributes;
---

<Layout title="Trinity Life Ministry">
  <div
    class="h-[650px] w-full bg-center bg-cover bg-no-repeat absolute top-0"
    style={"background-image: url(/images/bg-desktop@2x.png);"}
  >
  </div>
  <main>
    <!-- hero -->
    {
      hasCarousel(page) && (
        <Container classes="mb-16">
          <Carousel client:only carousel={carousel} />
        </Container>
      )
    }

    <!-- link cards -->
    <Container classes="mb-0">
      <HorizontalHeadingAndContent heading="Changing Lives, New Beginnings">
        As a dedicated nonprofit driven by Christian principles, we have
        consistently centered our efforts on faith and Christ-centered values.
      </HorizontalHeadingAndContent>
    </Container>

    <!-- last updated: event, 2 blog articles -->
    <Container classes="mb-8 md:mb-8 lg:mb-16">
      {hasLinkCards(page) && <LinkCards linkCards={linkCards} />}
    </Container>

    <!-- callout -->
    <Container>
      <Callout {...callout} />
    </Container>

    <!-- faqs -->
    <Container>
      <!-- @ts-ignore -->
      <FAQs faqs={faqs} />
    </Container>

    <!-- events & posts feature -->
    <Container>
      <BlogCards posts={posts} />
    </Container>

    <!-- social embed -->
    <Container>
      <SocialShare />
    </Container>

    <!-- cta -->
    <CallToAction />
  </main>
</Layout>
