---
import Carousel from "../components/Carousel";
import Callout from "../components/Callout.astro";
import Container from "../components/Container.astro";
import HorizontalHeadingAndContent from "../components/HorizontalHeadingAndText.astro";
import Layout from "../layouts/Layout.astro";
import LinkCards from "../components/LinkCards.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import { homepageQuery, postsQuery } from "../lib/queries";
import FAQs from "../components/FAQs.astro";
import SocialShare from "../components/SocialShare.astro";
import BlogCards from "../components/BlogCards.astro";
import CallToAction from "../components/CallToAction.astro";
import type Posts from "../interfaces/Posts";

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: homepageQuery,
});

const posts = await fetchApi<Posts>({
  endpoint: "posts",
  query: postsQuery,
});

const hasCarousel = (page: HomePage) => page.data.attributes?.carousel;
const hasLinkCards = (page: HomePage) =>
  page.data.attributes?.linkCards.linkCard.length;

const {
  carousel,
  linkCards: { linkCard: linkCards },
  faqs,
  callout,
  // cta,
} = page.data.attributes;
---

<Layout title="Trinity Life Ministry">
  <main>
    <!-- hero -->
    {
      hasCarousel(page) && (
        <Container classes="mb-4 md:mb-8 lg:mb-16 !py-0">
          <Carousel client:only carousel={carousel} />
        </Container>
      )
    }

    <!-- link cards -->
    <Container classes="mb-0">
      <HorizontalHeadingAndContent heading="Changing Lives, New Beginnings">
        As a dedicated nonprofit driven by Christian principles, we have
        consistently centered our efforts on faith and Christ-centered values.
      </HorizontalHeadingAndContent>
    </Container>

    <Container classes="mb-8 md:mb-8 lg:mb-16">
      {hasLinkCards(page) && <LinkCards linkCards={linkCards} />}
    </Container>

    <!-- callout -->
    <Callout {...callout} />

    <!-- faqs -->
    <!-- @ts-ignore -->
    <FAQs faqs={faqs} />

    <!-- events & posts feature -->
    <BlogCards posts={posts} />

    <!-- social embed -->
    <SocialShare />

    <!-- cta -->
    <CallToAction />

    <!-- footer -->
  </main>
</Layout>
