---
import BlogCards from "../components/BlogCards.astro";
import CallToAction from "../components/CallToAction.astro";
import Callout from "../components/Callout.astro";
import Carousel from "../components/Carousel";
import Container from "../components/Container.astro";
import FAQs from "../components/FAQs.astro";
import HorizontalHeadingAndText from "../components/HorizontalHeadingAndText.astro";
import Layout from "../layouts/Layout.astro";
import LinkCards from "../components/LinkCards.astro";
import SocialShare from "../components/SocialShare.astro";
import fetchApi from "../lib/strapi";
import type Posts from "../interfaces/Posts";
import type { HomePage } from "../interfaces/Pages";
import { homepageQuery, postsQuery, queryWithLimit } from "../lib/queries";

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: homepageQuery,
});

const posts = await fetchApi<Posts>({
  endpoint: "posts",
  query: queryWithLimit(postsQuery, 3),
  sortBy: "publishedAt:desc",
});

const hasCarousel = (page: HomePage) => page.data.attributes?.carousel;
const hasLinkCards = (page: HomePage) =>
  page.data.attributes?.linkCards.linkCard.length;

const {
  carousel,
  linkCards: { linkCard: linkCards },
  faqs,
  callout,
  // cta,
} = page.data.attributes;
---

<Layout title="Trinity Life Ministry">
  <main class="page-home">
    <!-- hero -->
    {hasCarousel(page) && <Carousel client:only carousel={carousel} />}

    <Container isSection>
      <HorizontalHeadingAndText heading="Changing Lives, New Beginnings">
        As a dedicated nonprofit driven by Christian principles, we have
        consistently centered our efforts on faith and Christ-centered values.
      </HorizontalHeadingAndText>
    </Container>

    <!-- link cards -->
    <Container isSection>
      {hasLinkCards(page) && <LinkCards linkCards={linkCards} />}
    </Container>

    <!-- callout -->
    <Container isSection>
      <Callout {...callout} />
    </Container>

    <!-- faqs -->
    <Container isSection>
      <!-- @ts-ignore -->
      <FAQs faqs={faqs} />
    </Container>

    <!-- events & posts feature -->
    <Container isSection>
      <BlogCards posts={posts} />
    </Container>

    <!-- social embed -->
    <Container isSection classes="!px-0 md:!px-8 lg:!px-16">
      <SocialShare />
    </Container>

    <!-- cta -->
    <CallToAction />
  </main>
</Layout>
