---
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import LinkCards from "../components/LinkCards.astro";
import Callout from "../components/Callout.astro";

const queries = [
  "populate[hero][populate]=*",
  "populate[linkCards][populate][linkCard][populate]=*",
  "populate[faqs][populate]=*",
  "populate[callout][populate][image][populate]=*",
  "populate[cta][populate]=*",
].join("&");

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: queries,
});

const hasHero = (page: HomePage) => page.data.attributes?.hero;
const hasLinkCards = (page: HomePage) =>
  page.data.attributes?.linkCards.linkCard.length;

const {
  hero,
  linkCards: { linkCard: linkCards },
  faqs,
  callout,
  cta,
} = page.data.attributes;

console.log(callout, cta, faqs);
---

<Layout title="Trinity Life Ministry">
  <main>
    {hasHero(page) && <Hero {...hero} />}
    <!-- link cards -->
    <LinkCards linkCards={linkCards} />
    <!-- callout -->
    <Callout {...callout} />
    <!-- faqs -->
    <!-- events & posts feature -->
    <!-- social embed -->
    <!-- cta -->
    <!-- footer -->
  </main>
</Layout>
