---
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import LinkCards from "../components/LinkCards.astro";

const page = await fetchApi<HomePage>({
  endpoint: "/home-page",
  query: { populate: "*" },
});

const hasHero = (page: HomePage) => page.data.attributes?.hero;
const hasLinkCards = (page: HomePage) => page.data.attributes?.linkCards;
---

<Layout title="Trinity Life Ministry">
  <main>
    {hasHero(page) && <Hero {...page.data.attributes.hero} />}
    <LinkCards />
    <!-- {hasLinkCards(page) && <LinkCards />} -->
  </main>
</Layout>
