---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type { HomePage } from "../interfaces/Pages";
import Hero from "../components/Hero";
import type { HeroComponent } from "../interfaces/Components";

const page = await fetchApi<HomePage>({
  endpoint: "home-page",
  query: { populate: "*" },
});
---

<Layout title="Trinity Life Ministry">
  <main>
    {
      page.data.attributes?.slices.map((slice: any) => {
        switch (slice.__component) {
          case "slices.hero":
            const comp: HeroComponent = slice;
            return <Hero title={comp.title} content={comp.content} />;

          default:
            return null;
        }
      })
    }
  </main>
</Layout>
