---
import AcceptingDonations from "../components/AcceptingDonations.astro";
import Container from "../components/Container.astro";
import FAQs from "../components/FAQs.astro";
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/PageHero.astro";
import SocialShare from "../components/SocialShare.astro";
import StoreHoursTable from "../components/StoreHoursTable.astro";
import StoreLocations from "../components/StoreLocations.astro";
import fetchApi from "../lib/strapi";
import type { ThriftStorePage } from "../interfaces/Pages";
import { thriftStoreQuery } from "../lib/queries";

const page = await fetchApi<ThriftStorePage>({
  endpoint: "thrift-store",
  query: thriftStoreQuery,
});
---

<Layout title="Thrift Store">
  <main>
    <PageHero {...page.data.attributes.hero} />

    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div class="lg:pr-8 lg:pt-4">
            <!-- accepting donations -->
            <AcceptingDonations {...page.data.attributes.acceptingDonations} />
          </div>
          <!-- hours table -->
          <!-- @ts-ignore -->
          <StoreHoursTable hoursOpen={page.data.attributes?.storeHours} />
        </div>
      </div>
    </div>

    <!-- store locations -->
    <StoreLocations locations={page.data.attributes.storeLocations} />

    <!-- coupon -->
    <Container isSection>
      <img
        src={page.data.attributes?.coupon.image.data.attributes.url}
        alt={page.data.attributes?.coupon.name || "coupon"}
      />
    </Container>

    <!-- faqs -->
    {
      page.data.attributes?.faqs && (
        <Container isSection>
          <!-- @ts-ignore -->
          <FAQs faqs={page.data.attributes.faqs} />
        </Container>
      )
    }

    <!-- social embed -->
    <Container isSection classes="!px-0 md:!px-8 lg:!px-16">
      <SocialShare />
    </Container>
  </main>
</Layout>
