---
import type { AcceptingDonationsComponent } from "../interfaces/Components";
import CheckList from "./CheckList.astro";

interface Props extends AcceptingDonationsComponent {}

const props = Astro.props;

const hasItemsAvailable = () =>
  props?.itemsAvailable && props?.itemsAvailable.length > 0;
---

<div class="accepting-donations">
  <h2 class="mt-2 text-3xl font-bold tracking-tight text-darkBlue sm:text-4xl">
    {props.heading}
  </h2>
  <p class="mt-6 mb-4 text-lg leading-8 text-gray-600">
    {props.content}
  </p>
  <!--
    <a
    class="bg-teal text-white text-base font-medium font-inter px-4 py-2 rounded-md shadow items-center inline-flex"
    href="/donate">Donate Goods</a
  >
  -->
  {hasItemsAvailable() && <CheckList items={props.itemsAvailable} />}

  <div class="w-full pt-6 flex-col justify-start items-start gap-3 inline-flex">
    <div
      class="self-stretch text-gray-500 text-base font-normal font-inter leading-normal border-t pt-4"
    >
      Your contributions are section 501(c)(3) tax deductible
    </div>
  </div>
</div>
