---
---

<div class="w-full min-w-full h-[424px] relative bg-teal px-8">
  <div class="py-32 flex-col justify-start items-start gap-6 inline-flex">
    <div
      class="self-stretch text-white text-3xl md:text-4xl lg:text-5xl font-extrabold font-poppins leading-10"
    >
      Trinity Life Ministry Blog
    </div>
    <div
      class="text-white text-xl font-normal font-poppins leading-7 w-full md:w-1/2"
    >
      Trinity is deeply committed to the men we serve, their families and the
      community. We hold routine outings and fundraisers along with charitable
      giving events.
    </div>
  </div>
</div>
