---
import type Posts from "../interfaces/Posts";
import BlogCard from "./BlogCard.astro";

interface Props {
  posts: Posts;
}

const {
  posts: { data, meta },
} = Astro.props;
---

<div class="relative px-6 pb-20 pt-16 lg:px-8 lg:pb-28 lg:pt-24">
  <div class="absolute inset-0">
    <div class="h-1/3 bg-white sm:h-2/3"></div>
  </div>
  <div class="relative mx-auto max-w-7xl">
    <h2 class="text-3xl font-bold tracking-tight text-darkBlue sm:text-4xl">
      Events, Testimonials and Updates
    </h2>
    <div class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
      {data.map((post) => <BlogCard {...post} />)}
    </div>
  </div>
</div>
