---
---

<div class="w-full min-w-full h-[424px] relative bg-teal">
  <div
    class="h-96 px-8 py-32 flex-col justify-start items-start gap-6 inline-flex"
  >
    <div
      class="self-stretch text-white text-5xl font-extrabold font-['Inter'] leading-10"
    >
      Trinity Life Ministry Blog
    </div>
    <div class="w-96 text-white text-xl font-normal font-['Inter'] leading-7">
      Trinity is deeply committed to the men we serve, their families and the
      community. We hold routine outings and fundraisers along with charitable
      giving events.
    </div>
  </div>
</div>
