---
import type { ThemeColor } from "../interfaces/Enums";
import { getColor } from "../utils";

interface Props {
  image: {
    data: {
      attributes: {
        url: string;
      };
    };
  };
  title: string;
  content: string;
  bgColor: ThemeColor;
  buttonText: string;
  url: string;
}

const { image, title, content, bgColor, buttonText, url } = Astro.props;

const bgColorClass = getColor(bgColor);

// teal: "#13A89E",
// darkBlue: "#073E6D",
// green: "#0D9346",
// limeGreen: "#8BC540",
---

<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div
    class="relative overflow-hidden px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20"
  >
    <img
      class="absolute inset-0 h-full w-full object-cover brightness-150"
      src={image.data.attributes.url}
      alt=""
    />
    <div class="absolute inset-0 bg-teal mix-blend-multiply"></div>
    <div
      class="absolute -left-80 -top-56 transform-gpu blur-3xl"
      aria-hidden="true"
    >
    </div>
    <div
      class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl"
      aria-hidden="true"
    >
    </div>
    <div class="relative mx-auto max-w-2xl lg:mx-0">
      <figure>
        <blockquote
          class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
          <p>
            {title}
          </p>
        </blockquote>
        <figcaption class="my-8 text-base text-white">
          <div class="font-semibold">{content}</div>
        </figcaption>
      </figure>
      <a
        href="/testimonials"
        class="bg-white flex font-bold justify-center items-center text-dark px-4 h-[50px] rounded-xl w-full md:w-1/2 lg:w-1/3"
      >
        See All Testimonials</a
      >
    </div>
  </div>
</div>
