---
---

<div class="bg-teal">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-4">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Support Trinity Life Ministry
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
        We rely on donations from the community &mdash; giving of your time
        volunteering, donations of items to our stores and monetary funds.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/donate"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-teal shadow-sm hover:bg-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Donate Now</a
        >
      </div>
    </div>
  </div>
</div>
