---
interface Props {
  classes?: string;
  isSection?: boolean;
}

const { classes, isSection = false } = Astro.props;
---

<div
  class=`w-full max-w-[1280px] mx-auto px-4 md:px-8 lg:px-16 ${classes} ${isSection ? "mb-16 lg:mb-16" : ""}`
>
  <slot />
</div>
