---
import type { FAQComponent } from "../interfaces/Components";

interface Props {
  faqs: {
    FAQ: FAQComponent[];
  };
}

const { FAQ } = Astro.props.faqs;
---

<div class="mx-auto max-w-7xl px-6 sm:pt-16 lg:px-8">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="lg:col-span-5">
      <h2
        class="text-2xl lg:text-4xl font-bold leading-10 tracking-tight text-darkBlue"
      >
        Frequently Asked Questions
      </h2>
      <p class="mt-4 p-6 pt-0 text-base leading-7 text-gray-600">
        Can&apos;t find the answer you’re looking for? Reach out on our <a
          class="text-teal"
          href="/contact">contact form.</a
        >
      </p>
    </div>
    <div class="mt-10 lg:col-span-7 lg:mt-0">
      <dl class="space-y-10">
        {
          FAQ.map((qa) => (
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                {qa.question}
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                {qa.answer}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
