---
interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div class="w-96 h-72 flex-col justify-start items-start gap-5 flex">
  <div class="self-stretch text-darkBlue text-5xl font-bold leading-10">
    {heading}
  </div>
  <div class="self-stretch text-dark text-xl font-normal leading-7">
    <slot />
  </div>
</div>
