---
import type { HeroComponent } from "../interfaces/Components";
import HeadingAndText from "./HeadingAndText.astro";

interface Props extends Omit<HeroComponent, "id"> {}

const { title, content, image } = Astro.props;
---

<div
  class="bg-white flex flex-wrap justify-center mt-32 mb-8 sm:mb-24 items-center container"
>
  <div class="w-full sm:w-1/2 flex justify-center items-center">
    <HeadingAndText heading={title}>
      {content}
    </HeadingAndText>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/4">
    <img
      class="min-h-96 h-full"
      src={image.data.attributes.url}
      alt={image.data.attributes.alternativeText || "image"}
    />
  </div>
</div>
