---
---

<div class="flex flex-col justify-start items-start gap-4 newsletter-signup">
  <div
    class="self-stretch text-black text-4xl font-extrabold font-inter leading-10"
  >
    Sign up to receive our Newsletter
  </div>
  <div class="self-stretch pt-7 justify-start items-center gap-5 inline-flex">
    <div
      class="grow shrink basis-0 text-gray-500 text-xl font-normal font-inter leading-7"
    >
      Get weekly articles in your inbox
    </div>
    <div class="grow shrink basis-0 h-10 justify-end items-center gap-2 flex">
      <div
        class="px-4 py-2 bg-teal rounded-md shadow justify-center items-center flex"
      >
        <a
          href=""
          class="text-white text-base font-medium font-inter leading-normal"
        >
          Sign Up Here
        </a>
      </div>
    </div>
  </div>
</div>
