---
---

<div class="w-96 h-96 p-8 flex-col justify-start items-start inline-flex">
  <div
    class="self-stretch bg-sky-900 rounded-lg shadow justify-start items-start gap-4 inline-flex"
  >
    <div
      class="grow shrink basis-0 p-20 flex-col justify-start items-start gap-8 inline-flex"
    >
      <div
        class="self-stretch h-32 flex-col justify-start items-start gap-4 flex"
      >
        <div class="self-stretch h-10 flex-col justify-start items-start flex">
          <div
            class="self-stretch text-white text-4xl font-extrabold font-['Inter'] leading-10"
          >
            Follow Us For Updates
          </div>
        </div>
        <div
          class="self-stretch text-indigo-200 text-lg font-normal font-['Inter'] leading-normal"
        >
          We are a redemptive community that brings hope by transforming men and
          reconciling their families through the power of Jesus Christ.
        </div>
      </div>
      <div class="justify-start items-start gap-8 inline-flex">
        <div
          class="pl-3.5 pr-4 py-2 bg-white rounded-md shadow border border-gray-300 justify-center items-center gap-2 flex"
        >
          <div class="w-5 h-5 relative"></div>
          <div
            class="text-gray-700 text-sm font-medium font-['Inter'] leading-tight"
          >
            Facebook
          </div>
        </div>
        <div
          class="pl-3.5 pr-4 py-2 bg-white rounded-md shadow border border-gray-300 justify-center items-center gap-2 flex"
        >
          <div class="w-5 h-5 relative"></div>
          <div
            class="text-gray-700 text-sm font-medium font-['Inter'] leading-tight"
          >
            Instagram
          </div>
        </div>
      </div>
    </div>
    <div class="w-96 h-96 relative">
      <img
        class="w-96 h-96 left-[64px] top-0 absolute rounded-md"
        src="https://via.placeholder.com/536x538"
      />
    </div>
  </div>
</div>
