---
import Container from "./Container.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<Container isSection>
  <div class=`grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-16 p-8 ${classes}`>
    <slot />
  </div>
</Container>
